body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  background-color: rgb(68, 143, 204);
}

.logo {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 5%;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
}

.logo:hover {
  transform: translateY(-50%) scale(1.15);
  opacity: 1;
}

.logo-container {
  margin-right: 110px;
}

.header-text {
  color: white;
  font-size: 14px;
  font-weight: 700;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
}

.header-text:hover {
  opacity: 1;
}

.auth-container {
  margin-left: auto;
  padding: 0 25px;
}

.register-button,
.login-button {
  font-family: "Montserrat", sans-serif;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 28px;
  font-weight: 700;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
  padding: 0 10px;
  text-decoration: none;
}

.register-button:hover,
.login-button:hover {
  opacity: 1;
  text-decoration: none;
}

.text-parent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.info-text,
.map-text {
  color: #333333;
  font-size: 40px;
  text-align: center;
}

.info-text {
  display: inline-block;
  justify-content: center;
  justify-items: center;
  padding-bottom: 15px;
}

.map-text {
  font-size: 100px;
}

.map-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 5%;
}

.image-gallery li {
  flex-basis: 350px;
  list-style: none;
}

.image-gallery li img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.image-gallery li img:hover {
  transform: scale(1.05);
}

.image-gallery li h1 {
  font-size: 20px;
}

.image-header,
.map-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

.image-header:hover,
.map-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.image-src {
  width: 50%;
  height: auto;
}

.map-iframe {
  border: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-title {
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.checkbox-dropdown {
  width: 200px;
  border: 1px solid #aaa;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  z-index: 55;
  /* border-radius: 25px; */
  user-select: none;
}

.checkbox-dropdown:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border: 6px solid transparent;
  border-top-color: #000;
  top: 50%;
  right: 10px;
  margin-top: -3px;
}

.checkbox-dropdown.is-active:after {
  border-bottom-color: #000;
  border-top-color: #fff;
  margin-top: -9px;
}

.checkbox-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  border: inherit;
  border-top: none;
  left: -1px;
  right: -1px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 130px;
  overflow: scroll;
  overflow-x: hidden;
  pointer-events: none;
}

.is-active .checkbox-dropdown-list {
  opacity: 1;
  pointer-events: auto;
}

.checkbox-dropdown-list li label {
  display: block;
  border-bottom: 1px solid silver;
  padding: 10px;
  transition: all 0.3s ease-out;
}

.checkbox-dropdown-list li label:hover {
  background-color: #448fcc;
  color: white;
}

footer {
  font-size: 20px;
  font-weight: 1000;
  margin-top: auto;
  background-color: #448fcc;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.info-text {
  display: flex;
  font-size: 40px;
  font-weight: 1000;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.filter-button,
.main_btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.filter-button:hover,
.main_btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filter-button {
  padding: 15px 0 7.5px 0;
}

.review-box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.review-box .name {
  font-size: 24px;
  font-weight: 1000;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .info-text {
    font-size: 26px;
  }

  .register-button,
  .login-button {
    font-size: 18px;
  }

  .monument-container {
    display: flex;
    justify-content: center;
  }
  .card-img-top {
    max-width: 100%;
  }
}
/* кастомный скролл */
::-webkit-scrollbar
{
    width: 15px;

}
::-webkit-scrollbar-track{
    background: #d4d4d4;
    box-shadow: 0 0 2px rgba(0,0,0,.2) inset;
}
::-webkit-scrollbar-thumb
{
    background: #939393;
    border-radius: 15px;
    border: 3px solid #d4d4d4;
}
