:root {
  --text-color: #ffffff;
  --bg-color: #222;
  --border-color: #448fcc;
  --white-color: white;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--bg-color);
  background-color: var(--bg-color);
}
.main_section {
  font-family: "Montserrat", sans-serif;
}
.block_for_registarion {
  border-color: var(--border-color);
  background-color: var(--border-color);
}
.top_input {
  color: var(--bg-color);
}
.bottom_input {
  color: var(--bg-color);
}
/* смена режима дня на ночь */

.changeTheme:hover {
  background: var(--bg-color);
}
.main_btn {
  background-color: var(--white-color);
}
.changeTheme[data-theme="light"] {
  display: block;
}
.changeTheme[data-theme="dark"] {
  display: none;
}
